@import 'vars.scss';

/*! main */

@media only screen and (min-width: 1px) {
	.page-template-page-availability .fancybox-content {
		background-color: $bone4;
	}
	.logo {
		@include trans();
	}
	.headroom--unpinned {
		header, .header, {
			height: 50px;
		}
		.logo {
			//max-width: 113px;
			//transform: translate(0,-25%);
		}
	}
	.logged-in.admin-bar header, .logged-in.admin-bar .header {
		top: 74px;
	}
	
	
	.content .button:hover {
		background-color: $moss;
	}
	.balign {
		@include valign(100%, -100%, absolute);
		padding: 0 0 10px 10px;
	}

	p > a, .list > div > a {
		color: inherit;
	}
	.gform_wrapper {text-align:left;}
	
	.gform_body {
	    margin-left: -20px;
		li {
			padding-left: 20px;
		}
	}
	.gfield {
		@include form();
		opacity: 1;
		display: inline-block;
		width: 100%;
		margin-bottom: -1em;
		vertical-align: top;
		label {
			@include trans();
			@include form();
			position: relative;
			display: block;
			color: $gray2;
			transform: translate(0, 100%);
			padding-left:0em;
			z-index: 50;
		}
		.ginput_container {
			position: relative;
			z-index: 80;
		}
		input, textarea, select {
			@include form();
			width: 100%;
			padding-left:1em;
			color: $gray2;
			border-radius: 0;
			height: 3.167em;
			border: none;
			border-bottom: 1px solid $gray2;
			background-color: transparent;
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
			vertical-align: top;
		}
		textarea {
			border: 1px solid $gray2;
			height:6em;
		}
		option {color: $black;}
		.nice-select .current {
			@include form();
			color: inherit;
		}
		&.textarea {
			label {
				left: 1em;
			}
		}

		&.gform_hidden {display:none;}

		&.gfield_error {
			input, textarea, select, option {
				//border: 1px solid $red;
				@include placeholder($red);
			}
		}
		&:last-child {
			margin-bottom: 0;
		}

		&.textarea {
			@include trans();
			opacity: 1;
			margin-top:2em;
			&.bye {
				opacity: 0;
			}
		}
	} // .gfield

	label.label_focus {
		transform: translate(0, 35%);
		z-index: 100;
	}

	.ginput_container_select {
		z-index: 10;
		position: relative;
		&::after {
			display: none;
			content: "\f107";
			font-family: "Font Awesome 5 Pro";
			@include valign(50%, -50%, absolute);
			right: 2em;
			z-index: 10;
			font-size: 1.5em;
			color: $white;
		}
		select {
			position: relative;
			z-index: 15;
			-moz-appearance: none;
		}
	}
	.calendar_field {
		.ginput_container {
			z-index: 10;
			position: relative;
		}
		.ginput_container::after {
			content: "\f133";
			font-family: "FontAwesome";
			@include valign(50%, -50%, absolute);
			right: 10px;
			z-index: 10;
			font-size: 30px;
			color: $white;
		}
		input {
			position: relative;
			z-index: 15;
		}
	}
	.gform_footer {
		text-align: right;
		input {
			////@include button2();
			//background-color: $red;
			//color: $white;
			border: none;
		}
	}
	.validation_message {
		display: block;
		color: $red;
	}
	.validation_error {
		display: none;
	}
	.gform_confirmation_wrapper {
		@include p();
		font-weight: bold;
		color: $white;
	}

	.breakme {
		overflow-wrap: break-word;
		word-break: break-word;
	}

	/* =WordPress Core
	-------------------------------------------------------------- */
	.wp-caption {
	    background: #fff;
	    border: 1px solid #f0f0f0;
	    max-width: 96%; /* Image does not overflow the content area */
	    padding: 5px 3px 10px;
	    text-align: center;
	}

	.wp-caption.alignnone {
	    margin: 5px 20px 20px 0;
	}

	.wp-caption.alignleft {
	    margin: 5px 20px 20px 0;
	}

	.wp-caption.alignright {
	    margin: 5px 0 20px 20px;
	}

	.wp-caption img {
	    border: 0 none;
	    height: auto;
	    margin: 0;
	    max-width: 98.5%;
	    padding: 0;
	    width: auto;
	}

	.wp-caption p.wp-caption-text {
	    font-size: 11px;
	    line-height: 17px;
	    margin: 0;
	    padding: 0 4px 5px;
	}

	.gform_footer {
		padding-top: 30px;
	}



	.xb {
		@include trans(color);
		&:hover {
			color: $red;
		}
	}
	.slick-initialized .customprev, .slick-initialized .customnext {
		@include trans();
		@include valign(50%, -50%, absolute);
		color: $gray4;
		opacity: 0.8;
		font-size:75px;
		z-index:130;
		text-shadow: 1px 1px 5px rgba(0,0,0, 0.1);
		cursor: pointer;
		z-index: 150;
	}
	.customprev {
		left:20px;
	}
	.customnext {
		right:20px;
	}

	.menu-main-menu {
		li {
		}
		a {
			@include trans();
			display: block;
			color: $white;
			text-decoration: none;
			padding-top: 0.15em;
			padding-bottom: 0.15em;

			&:hover {
			}
		}
	}
	.menu-secondary-menu {
		margin-top: 30px;
		li {
		}
		a {
			@include trans();
			display: block;
			text-decoration: none;
			padding-top: 0.5em;
			padding-bottom: 0.5em;

			&:hover {
			}
		}
	}


	.socials {
		a {
			color: inherit;
			padding: 0 0.25em;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	.socials {
	    vertical-align: middle;
	}
	body img.gform_ajax_spinner {
	 display: none !important;
	}



	.ofv {
		overflow: visible;
	}

	.navx {
		top: 30px;
		right:30px;
		position: absolute;
	}
	.nav_pane {
		@include trans();
		transform: translate(100%, 0);
		&.active {
			opacity: 1;
			transform: translate(0%, 0);
		}
	}
	.av_row_units {
		background-color: $bone2;
	}
	.av_row_unit {
		&:last-child {
			padding-bottom:0;
			border-bottom: none;
		}
	}

	
	.transing {
		opacity: 0;

		.gallery_img {
			transform: translate(-100%, 0);

			&:nth-child(4n+2), &:nth-child(4n+3) {
				transform: translate(100%, 0);
			}
			&.pure-u-sm-1-1 {
				transform: translate(0, 100%);
			}
		}
		
	}
	.flatpickr-input {
		width: 100%;
	}

	.specials_ul {
		list-style: outside disc;
		padding-left: 2em;
		
		li {

			list-style: outside disc;margin-bottom: 0.333em;

		}
		
	}

	.plan_selected {
		background-color: $bone1;
		& + .av_row_units .av_row {
			border-bottom-color: $bone4;
		}
	}
	.map-wrap-left {
		&.active {
			//height: 290px;
			width: 100%;
		}
	}

	.map-buttons {
		padding: 30px 0;

		.map-button {
			display: block;
			padding: 1em 1em;
			cursor: pointer;
		}
	}

	
	.form_step {
		display: none;
		&.active {
			display: block;
		}
	}

	.av_header {
		.av_col {
		}
	}

	.map-button {
		&:hover {
			color: $brown;
		}
		&.active {
			color: $red;
		}
	}

	.av_col {
		.fa-angle-down {
			@include trans(transform);
		}
	}
	.plan_selected {
		.fa-angle-down {
			transform: rotate(-90deg);
		}
	}
	.av_link {
		a {
			padding: 0.25em 0;
			display: inline-block;
		}
	}
	.marker_main {
		width:106px;
		height: auto;
	}
	.instagram-image {
		margin-bottom: 20px;
	}

	.av_row_plan .av_name, .av_row_plan .av_spec {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
@media screen and (max-width: 640px) {
	.slick-initialized .customprev, .slick-initialized .customnext {
		opacity: 0;
	}
	.xb {
		right: 1em;
	}
	.nice-select:after {
		right: 1em;
	}


	.marker_main {
		width: 53px;
		height: auto;
	}

}
@media screen and (min-width: 641px) {

	.cl_list {
		display: block!important;
	}

	.gform_wrapper {

		.gfield {
			width: 50%;
			&.full_width {
				width: 100%;
			}
		}
	}


	.tblock {display: table;}
	.tcell {display: table-cell; vertical-align: middle;}

	.alignnone {
	    margin: 5px 20px 20px 0;
	}

	.aligncenter,
	div.aligncenter {
	    display: block;
	    margin: 5px auto 5px auto;
	}

	.alignright {
	    float:right;
	    margin: 5px 0 20px 20px;
	}

	.alignleft {
	    float: left;
	    margin: 5px 20px 20px 0;
	}

	a img.alignright {
	    float: right;
	    margin: 5px 0 20px 20px;
	}

	a img.alignnone {
	    margin: 5px 20px 20px 0;
	}

	a img.alignleft {
	    float: left;
	    margin: 5px 20px 20px 0;
	}

	a img.aligncenter {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

	.map-buttons {
		//display: table;
		//table-layout: fixed;
		.map-button {
			//display: table-cell;
			display: inline-block;
			padding: 1em 0.5em;
			cursor: pointer;
		}
	}

}
@media screen and (max-width: 900px) {
	.socials, .foot_text {
		display: block;
		margin-top: 1em;
	}
	footer {
		height: auto;
		padding: 16px 0;
	}
	footer .valign {
		@include valign(auto, 0, static);
	}

}
@media screen and (min-width: 901px) {
	footer .socials {
		padding-left: 1em;
	}
	.map-buttons {

		.map-button {

			padding: 1em 1em;
		}
	}
}



@media screen and (min-width: 1061px) { // layout width is 1060px


}

@media screen and (min-width: 1601px) {

	.vpad {
		padding-top: 50px;
		padding-bottom: 160px;
	}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles here. i know. */
}