$black: #000000;
$white: #ffffff;
$gray1: #75787B;
$gray2: #989A9C;
$gray3: #BABBBD;
$gray4: #D9D9D6;
$gray5: #ECECEA;
$tan1: #AFA9A0;
$tan2: #C3BFB8;
$blue: #29588C;

$red: #A24040;
$pink: #E0A297;
$blue2: #29588C;
$blue3: #82B2B4;
$green1: #4D6324;
$green2: #A8AD00;

$cubic_out: cubic-bezier(0.22, 0.61, 0.36, 1);
$quad_in_out: cubic-bezier(0.46, 0.03, 0.52, 0.96);

@mixin trans($property: all,$duration: 150ms,$easing: ease-in-out,$delay: 0ms) {
	-webkit-transition: $property $duration $easing $delay;
	   -moz-transition: $property $duration $easing $delay;
		 -o-transition: $property $duration $easing $delay;
			transition: $property $duration $easing $delay;
}

@mixin valign($offset: 50%, $relative_offset: -50%, $pos: relative) {
	position: $pos;
	top: $offset;
	-webkit-transform: translateY($relative_offset);
	-ms-transform: translateY($relative_offset);
	transform: translateY($relative_offset);	
}

@mixin baron() {
	font-family: "baron_neue", sans-serif;
}
@mixin yrsa() {
	font-family: "yrsabold", serif;
	font-weight: normal;
}
@mixin gotham() {
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin placeholder($color) {
	&::input-placeholder {
	   color: $color;
	}
	&::-webkit-input-placeholder {
	   color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}
	&:-ms-input-placeholder {  
	   color: $color;  
	}
}

@mixin gridpads($offset) {
	margin-left: -$offset;
	& > [class *=pure-u], .gform_fields > [class *=pure-u] {
	  box-sizing: border-box;
	  padding-left: $offset;
	}
}

@mixin focus($color) {
	outline: none;
	-webkit-transition: border 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms;
	-moz-transition: border 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms;
	-o-transition: border 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms;
	transition: border 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms;
	&:focus {
		border: 2px solid $color;
		box-shadow: 0 0 5px $color;
	}
}

@mixin main_nav($size: 38px) {
	@include gotham();
	font-size: $size;
	line-height: 1.3em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
};
@mixin sec_nav($size: 17px) {
	@include yrsa();
	font-size: $size;
	line-height: 1.5em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
};
@mixin footer($size: 11px) {
	@include gotham();
	font-size: $size;
	line-height: 1.36em;
	//letter-spacing: 0.2em;
};
@mixin jumbo($size: 52px) {
	@include baron();
	font-size: $size;
	line-height: 1.35em;
	letter-spacing: 0.29em;
};
@mixin big_button($size: 38px) {
	@include baron();
	font-size: $size;
	line-height: 1.21em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
};
@mixin h1($size: 19px) {
	@include baron();
	font-size: $size;
	line-height: 1.26em;
	letter-spacing: 0.28em;
	text-transform: uppercase;
};
@mixin h2($size: 24px) {
	@include yrsa();
	font-weight: 700;
	font-size: $size;
	line-height: 1.25em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
};
@mixin intro($size: 17px) {
	@include gotham();
	font-size: $size;
	line-height: 1.47em;
};
@mixin h3($size: 17px) {
	@include yrsa();
	font-weight: 700;
	font-size: $size;
	line-height: 1.25em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
};
@mixin p($size: 16px) {
	@include gotham();
	font-size: $size;
	line-height: 1.5em;
};
@mixin plan($size: 24px) {
	@include yrsa();
	font-weight: 700;
	font-size: $size;
	line-height: 1.47em;
	letter-spacing: 0.22em;
	text-transform: uppercase;
};
@mixin button($size: 13px) {
	@include gotham();
	font-size: $size;
	line-height: 1.69em;
	letter-spacing: 0.1em;
	text-transform: uppercase;

};


